#card {
    background-color: cadetblue;
}

.header h2 {
    margin: 0 0 15px 0;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    color: hsl(214, 12%, 34%);
    font-size: 2rem;
    font-weight: 600;
    text-decoration-color: black;
}

#card-1 {
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
}
#card-2 {
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
}
#card-3 {
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
}
#card-4 {
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
}
#card-5 {
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
}
#card-6 {
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
}

.card p {
    margin: 0;
    float: left;
    color: hsl(229, 6%, 66%);
    font-size: 0.86rem;
    line-height: 22px;
}

//zipstyle
#zip-img {
    height: 30px;
    width: 30px;
    background-color: #c2bf10;
    font-weight: bold;
    font-size: 0.5em;
    border-radius: 5px;
}
#img-card {
    border-radius: 5px;
    background-color: aqua;
}
