#card {
    background-color: #228b22;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 25px;
}

#card1 {
    background-color: #ffff00;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

#card2 {
    background-color: #9400d3;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

#card3 {
    background-color: #1e90ff;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

/* SAVEDMATERIAL  SA BABA*/
#rcorners1 {
    border-radius: 15px 50px 30px;
    background: #c56bc5;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners2 {
    border-radius: 15px 50px 30px;
    background: #1ea1c8;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners3 {
    border-radius: 15px 50px 30px;
    background: #58ddcb;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners4 {
    border-radius: 15px 50px 30px;
    background: #6abfe0;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners5 {
    border-radius: 15px 50px 30px;
    background: #21ad9a;
    padding: 20px;
    width: 200px;
    height: 240px;
}
